* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/LatarBelakang.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: var(--fd);
  justify-content: var(--jc);
  align-items: var(--ai);
  align-self: var(--as);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 15px;
  text-align: center;
}

.char {
  width: 30vw;
  margin-bottom: -8vh;
}

.talk-bubble {
  margin: 40px;
  display: inline-block;
  position: relative;
  width: 300px;
  height: auto;
  padding: 10px;
  background-color: lightyellow;
  font-size: 1rem;
}

.round {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}

.tri-right.border.left-top:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: -8px;
  bottom: auto;
  border: 32px solid;
  border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: lightyellow transparent transparent transparent;
}

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.right-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 0px;
	bottom: auto;
	border: 20px solid;
	border-color: lightyellow transparent transparent transparent;
}

#startBtn:hover {
  animation: tilt 0.7s infinite;
}

@keyframes tilt {
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media only screen and (orientation: portrait) {
  #wrapper {
    display: none;
  }
  #myModal {
    display: block;
  }
  .container {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
@media only screen and (orientation: landscape) {
  #myModal {
    display: none;
  }
}
