body {
  background-image: url(./assets/LatarBelakang.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: "Poppins", sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#wrapper {
  /* background-color: slategray; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-end;
  width: 50vw;
  height: 100vh;
}

#title {
  /* background-color: salmon; */
  width: 50vw;
  height: 30vh;
}

#startBtn {
  width: 20vw;
  height: 10vh;
}

#myModal {
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  /* position: fixed; */
  /* z-index: 1; */
  text-align: center;
  overflow: auto;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 15px;
}

@media only screen and (orientation: portrait) {
  #wrapper {
    display: none;
  }
  #myModal {
    display: block;
  }
  #container {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
@media only screen and (orientation: landscape) {
  #myModal {
    display: none;
  }
}
